Header {
    background: rgb(25, 77, 248);
    color: #ffffff;
    text-align: left;
}

Footer {
    background: rgb(25, 77, 248);
}

#app-grid {
    layout: grid;
    grid-size: 2;
    grid-columns: 20% 80%;
    grid-rows: 1fr;
    height: 100%;
}

#app-grid > #left-pane {
    width: 100%;
    height: 100%;
    color: #f8f8f8;
    border:solid rgb(8, 168, 241)
}

#app-grid > #main-right {
    width: 100%;
    height: 100%;
    border: solid rgb(8, 168, 241);
}

#left-pane-title {
    background: #e6671e;
    color: #ecf0f1;
    text-align: center;
    padding: 1 2;
}

.nav-button {
    width: 100%;
    margin: 1 0 0 0;
    background: #3498db;
    color: #ffffff;
    border:rgb(240, 77, 12)
}

.nav-button:hover {
    background: #3de946;
    color: #ffffff;
}

#main-right > #main-right-title {
    color: #12851b;
    text-align: center;
    padding: 1 2;
}